In [100]:
import os
import pandas as pd
import numpy

In [101]:
breed_weight_path = os.path.join("Resources","original","breed_weight.csv")

df_breed_weight = pd.read_csv(breed_weight_path) 
df_breed_weight

,Breed,Breed_clean,BreedID,Weight Male,Weight Female
0,Affenpinschers,Affenpinscher,1.0,7-10 pounds,7-10 pounds
1,Afghan Hounds,Afghan Hound,2.0,50-60 pounds,50-60 pounds
2,Airedale Terriers,Airedale Terrier,3.0,50-70 pounds,50-70 pounds
3,Akitas,Akita,5.0,100-130 pounds,70-100 pounds
4,Alaskan Malamutes,Alaskan Malamute,6.0,85 pounds,75 pounds
...,...,...,...,...,...
178,Icelandic Sheepdogs,Icelandic Sheepdog,132.0,30 pounds,25 pounds
179,Lagotti Romagnoli,Lagotti Romagnoli,NaN,28.5-35 pounds,24-31 pounds
180,Miniature American Shepherds,Miniature American Shepherd,NaN,20-40 pounds,20-40 pounds
181,Pyrenean Shepherds,Pyrenean Shepherd,208.0,15-30 pounds,15-30 pounds
182,Standard Schnauzers,Standard Schnauzer,248.0,35-50 pounds,30-45 pounds

In [102]:
#Drop original name
df_breed_weight_v2 = df_breed_weight.drop(columns=['Breed'])
df_breed_weight_v2

                     Breed_clean  BreedID     Weight Male  Weight Female
0                  Affenpinscher      1.0     7-10 pounds    7-10 pounds
1                   Afghan Hound      2.0    50-60 pounds   50-60 pounds
2               Airedale Terrier      3.0    50-70 pounds   50-70 pounds
3                          Akita      5.0  100-130 pounds  70-100 pounds
4               Alaskan Malamute      6.0       85 pounds      75 pounds
..                           ...      ...             ...            ...
178           Icelandic Sheepdog    132.0       30 pounds      25 pounds
179            Lagotti Romagnoli      NaN  28.5-35 pounds   24-31 pounds
180  Miniature American Shepherd      NaN    20-40 pounds   20-40 pounds
181            Pyrenean Shepherd    208.0    15-30 pounds   15-30 pounds
182           Standard Schnauzer    248.0    35-50 pounds   30-45 pounds

[183 rows x 4 columns]

In [103]:
# Optional: Get all the data for the duplicate dog breeds

df_duplicate = df_breed_weight_v2[df_breed_weight_v2['Breed_clean'] == "Jack Russell Terrier"]
df_duplicate

             Breed_clean  BreedID   Weight Male Weight Female
96  Jack Russell Terrier    139.0   9-15 pounds   9-15 pounds
97  Jack Russell Terrier    139.0  13-17 pounds  13-17 pounds

In [104]:
# Optional: Get all the data for the duplicate mouse ID. 

df_breed_weight_v2 = df_breed_weight_v2.drop(index=96)
df_breed_weight_v2

                     Breed_clean  BreedID     Weight Male  Weight Female
0                  Affenpinscher      1.0     7-10 pounds    7-10 pounds
1                   Afghan Hound      2.0    50-60 pounds   50-60 pounds
2               Airedale Terrier      3.0    50-70 pounds   50-70 pounds
3                          Akita      5.0  100-130 pounds  70-100 pounds
4               Alaskan Malamute      6.0       85 pounds      75 pounds
..                           ...      ...             ...            ...
178           Icelandic Sheepdog    132.0       30 pounds      25 pounds
179            Lagotti Romagnoli      NaN  28.5-35 pounds   24-31 pounds
180  Miniature American Shepherd      NaN    20-40 pounds   20-40 pounds
181            Pyrenean Shepherd    208.0    15-30 pounds   15-30 pounds
182           Standard Schnauzer    248.0    35-50 pounds   30-45 pounds

[182 rows x 4 columns]

In [105]:
#Rename column headers
df_breed_weight_v3= df_breed_weight_v2.rename(columns = {'Breed_clean' : 'breed_name', 'BreedID': 'breed_IDv1', 'Weight Male': 'weight_male', 'Weight Female': 'weight_female'})
df_breed_weight_v3

                      breed_name  breed_IDv1     weight_male  weight_female
0                  Affenpinscher         1.0     7-10 pounds    7-10 pounds
1                   Afghan Hound         2.0    50-60 pounds   50-60 pounds
2               Airedale Terrier         3.0    50-70 pounds   50-70 pounds
3                          Akita         5.0  100-130 pounds  70-100 pounds
4               Alaskan Malamute         6.0       85 pounds      75 pounds
..                           ...         ...             ...            ...
178           Icelandic Sheepdog       132.0       30 pounds      25 pounds
179            Lagotti Romagnoli         NaN  28.5-35 pounds   24-31 pounds
180  Miniature American Shepherd         NaN    20-40 pounds   20-40 pounds
181            Pyrenean Shepherd       208.0    15-30 pounds   15-30 pounds
182           Standard Schnauzer       248.0    35-50 pounds   30-45 pounds

[182 rows x 4 columns]

In [106]:
dogs_list_path = os.path.join("Resources","clean","df_breed_labels_api_clean.csv")

df_breed_labels = pd.read_csv(dogs_list_path) 
#Drop unnamed 0
df_breed_labels= df_breed_labels.drop(columns=['Unnamed: 0'])
df_breed_labels

     breed_ID                         breed_name animal_type
0           1                      Affenpinscher         Dog
1           2                       Afghan Hound         Dog
2           3                   Airedale Terrier         Dog
3           4                             Akbash         Dog
4           5                              Akita         Dog
..        ...                                ...         ...
270       271        Wirehaired Pointing Griffon         Dog
271       272                 Wirehaired Terrier         Dog
272       273  Xoloitzcuintli / Mexican Hairless         Dog
273       274          Yellow Labrador Retriever         Dog
274       275                  Yorkshire Terrier         Dog

[275 rows x 3 columns]

In [107]:
breed_ID_mapping = dict(zip(df_breed_labels.breed_name, df_breed_labels.breed_ID))

In [108]:
df_breed_weight_v3['breed_ID'] = df_breed_weight_v3.breed_name.map(breed_ID_mapping)


df_breed_weight_v3

,breed_name,breed_IDv1,weight_male,weight_female,breed_ID
0,Affenpinscher,1.0,7-10 pounds,7-10 pounds,1.0
1,Afghan Hound,2.0,50-60 pounds,50-60 pounds,2.0
2,Airedale Terrier,3.0,50-70 pounds,50-70 pounds,3.0
3,Akita,5.0,100-130 pounds,70-100 pounds,5.0
4,Alaskan Malamute,6.0,85 pounds,75 pounds,6.0
...,...,...,...,...,...
178,Icelandic Sheepdog,132.0,30 pounds,25 pounds,132.0
179,Lagotti Romagnoli,NaN,28.5-35 pounds,24-31 pounds,NaN
180,Miniature American Shepherd,NaN,20-40 pounds,20-40 pounds,NaN
181,Pyrenean Shepherd,208.0,15-30 pounds,15-30 pounds,208.0
182,Standard Schnauzer,248.0,35-50 pounds,30-45 pounds,248.0

In [109]:
df_breed_weight_v3= df_breed_weight_v3.drop(columns=['breed_IDv1'])
df_breed_weight_v3

                      breed_name     weight_male  weight_female  breed_ID
0                  Affenpinscher     7-10 pounds    7-10 pounds       1.0
1                   Afghan Hound    50-60 pounds   50-60 pounds       2.0
2               Airedale Terrier    50-70 pounds   50-70 pounds       3.0
3                          Akita  100-130 pounds  70-100 pounds       5.0
4               Alaskan Malamute       85 pounds      75 pounds       6.0
..                           ...             ...            ...       ...
178           Icelandic Sheepdog       30 pounds      25 pounds     132.0
179            Lagotti Romagnoli  28.5-35 pounds   24-31 pounds       NaN
180  Miniature American Shepherd    20-40 pounds   20-40 pounds       NaN
181            Pyrenean Shepherd    15-30 pounds   15-30 pounds     208.0
182           Standard Schnauzer    35-50 pounds   30-45 pounds     248.0

[182 rows x 4 columns]

In [110]:
#Reorder columns
df_breed_weight_v3 = df_breed_weight_v3.reindex(columns= ['breed_ID', 'breed_name', 'weight_male','weight_female'])

In [115]:
#Drop N/As
df_breed_weight_v3= df_breed_weight_v3[df_breed_weight_v3!=0].dropna()
df_breed_weight_v3 = df_breed_weight_v3.sort_values(by=['breed_ID'])
df_breed_weight_v3

,breed_ID,breed_name,weight_male,weight_female
0,1.0,Affenpinscher,7-10 pounds,7-10 pounds
1,2.0,Afghan Hound,50-60 pounds,50-60 pounds
2,3.0,Airedale Terrier,50-70 pounds,50-70 pounds
3,5.0,Akita,100-130 pounds,70-100 pounds
4,6.0,Alaskan Malamute,85 pounds,75 pounds
...,...,...,...,...
170,266.0,Wheaten Terrier,35-40 pounds,30-35 pounds
171,267.0,Whippet,25-40 pounds,25-40 pounds
172,271.0,Wirehaired Pointing Griffon,50-70 pounds,35 and 50 pounds
173,273.0,Xoloitzcuintli / Mexican Hairless,"10-15 pounds (toy), 15-30 pounds (miniature), ...","10-15 pounds (toy), 15-30 pounds (miniature), ..."
174,275.0,Yorkshire Terrier,7 pounds,7 pounds

In [118]:
#Output pandas dataframe into CSV file and store it in 'clean' folder under Resources folder
output_path = os.path.join("Resources","clean","df_breed_weight_clean_v2.csv")
print(output_path)
df_breed_weight_v3.to_csv(output_path)

Resources\clean\df_breed_weight_clean_v2.csv